nav {
  margin-bottom: 30px;
}

.container {
  width: 100%;
}

.card {
  height: 18rem;
  width: 25rem;
  margin: 0 auto; /* Added */
  float: left; /* Added */
  margin-bottom: 10px; /* Added */
  margin-right: 25px;
}

#description {
  margin-top: 15px;
  font-size: large;
}

#specs {
  font-size: smaller;
}

#wordContainer1 {
  height: 77%;
}
#wordContainer2 {
  height: 80%;
}

button {
  height: 100%;
  float: left;
  margin: 5px;
  width: 112px;
  height: auto;
}

#getLoan {
  justify-self: center;
  align-items: center;
  width: 98%;
  color: white;
}

#buyComp {
  width: 96.5%;
  display: flex;
}

#col-1 {
  margin-left: 40px;
}

#buy {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 40px;
  margin-right: 50px;
}

#price {
  position: absolute;
  right: 12rem;
  bottom: 3rem;
}
